@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h1 class="display-4">
        <strong>Welcome</strong> to Spotify Prototype Manager.
    </h1>
</div>
