@model IEnumerable<SpotifyPrototype.Application.Admin.Dto.UsuarioAdminDto>

<div class="text-center">
    <h1 class="display-4">Users</h1>
</div>

<div>
    <a type="button" role="button" class="btn btn-primary" href="/User/Criar">Register User</a>
</div>

<div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>Name</strong></td>
                <td><strong>Email</strong></td>
                <td><strong>Profile</strong></td>
                <td><strong>Actions</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nome</td>
                        <td>@item.Email</td>
                        <td>@(item.Perfil == 1 ? "Full" : "Normal")</td>
                        <td>
                            <a href="/User/Editar/@item.Id" title="Edit" style="color: yellow;">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/User/Deletar/@item.Id" title="Delete" style="color: red;">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
